<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header role="banner">
      <h1><%= @title %></h1>
    </header>

    <div class="wrap">
      <main role="main">

      </main>
    </div>

    <footer role="contentinfo">
      <small>Copyright &copy; <time datetime="2015">2015</time></small>
    </footer>
  </body>
</html>
